/* Welcome Section */
.welcomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}