/* General Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  /* padding: 20px; */
  max-width: 1200px;
  font-family: "Arial", sans-serif;
}

/* Welcome Section */
.welcomeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* margin-bottom: 40px; */
}

.welcomeSection h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Content Section */
.contentSection {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  /* Remove gap between columns and rows */
  width: 100%;
  grid-auto-rows: auto;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  /* Ensure it spans the grid column */
  margin: 0;
  /* Remove any margin */
  padding: 0;
  /* Remove any padding */
}

.imageContainer img {
  max-width: 100%;
  /* Scale image properly */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Prevent inline image spacing issues */
}


.imagePlaceholder {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.textContainer {
  display: flex;
  /* Make it a flex container */
  flex-direction: column;
  /* Ensure text items are stacked vertically */
  justify-content: center;
  /* Vertically align text to the center */
  text-align: left;
  padding: 40px;
}

.textContainer h2 {
  font-size: 2rem;
  font-weight: bold;
}

.textContainer p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

.link {
  color: #0073e6;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}